<header class="py-10 bg-blue-200 text-black text-5xl font-caveat text-center"> About </header>
<br></br>
<div class="flex flex-wrap justify-center">
  <div class="w-6/12 sm:w-4/12 px-4">
    <img src="https://cdn.shopify.com/s/files/1/0442/9971/4725/t/2/assets/pf-6a4bc058--Pic-5-3.jpg?v=1597188447" alt="..." class="shadow-lg rounded max-w-full h-auto align-middle border-none" />
  </div>
</div>
<br></br>
<p class="p-3 non-italic text-justify text-2xl">
Catherine Freeman is a Speech Pathologist & an Autism Mom. 
Catherine has over 9 years of experience and has worked in the home health, clinic setting and the school settings. 
Carmyn Thompson is a Speech Pathologist and has 5 years of experience. Carmyn has worked in the home health setting, school setting and Lamar University as an adjunct professor.</p>
</div>

<div>
<p class="p-4 non-italic text-justify text-2xl">
We are both ASHA Certified CCC Speech Language Pathologists. 
    Both provide speech therapy services and have developed a free resource app called AuTKonnect for parents and families with children on the autism spectrum.</p>
    </div>