<header class="py-10 bg-blue-200 text-black text-5xl font-caveat text-center"> Hi <%= @user.username %>! </header>
<br></br>

<header class="py-7 bg-blue-200 text-black text-3xl font-caveat text-center"> Your Reviews</header>
<ul>
<% @user.reviewed_events.each do |e| %>
<li> <%= link_to e.name_and_business, event_path(e)%> </li>
<% end %>
</ul>
<br><br>
<header class="py-7 bg-blue-200 text-black text-3xl font-caveat text-center"> Your RSVPs</header>